nav {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  nav a {
    text-align: center;
    text-decoration: none;
  }
  nav a span {
    color: #333;
    text-decoration: none;
    font-size: 2em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
  }
  nav:hover a span {
    color: rgb(0, 0, 0);
  }
  nav a:hover span {
    color: #45936c;
    background: white;
    border-radius: 100em;
  }
  nav a span:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-46%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.1);
    /* border-radius: 50%; */
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
  }
  nav a span:hover:before {
    content: attr(data-texto);
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    width: 1800px;
    height: 1800px;
  }

nav a:nth-child(6n + 1) span:before {
    background: #a4c350;
  }
  nav a:nth-child(6n + 2) span:before {
    background: #61d4b0;
  }
  nav a:nth-child(6n + 3) span:before {
    background: #8ee696;
  }
  nav a:nth-child(6n + 4) span:before {
    background: #d29ebc;
  }
  nav a:nth-child(6n + 5) span:before {
    background: #72b4ea;
  } 
  nav a:nth-child(6n + 6) span:before {
    background: #98e294;;
  }
  nav a:nth-child(6n + 7) span:before {
    background: #b76b6b;
  }
  nav a:nth-child(6n + 8) span:before {
    background: #a9b0ee;
  }
  nav a:nth-child(6n + 9) span:before {
    background: #fcf0a0;
  }
  nav a:nth-child(6n + 10) span:before {
    background: #ee9a9a;
  } 
  nav a:nth-child(6n + 11) span:before {
    background: #95e4c7;
  } 
