* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #141414;
}

nav {
  position: relative;
  display: flex;
  flex-direction: column;
}

nav a {
  text-align: center;
  text-decoration: none;
}

h1 {
color: white;
}
h2 {
color: white;
}
p {
color: white;
}
nav a span {
  color: #eee8e8;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}

/* COR DO TEXTO QUE APARECE*/
nav:hover a span {
  color: #efefef;
}

/* Cor do botao */
nav a:hover span {
  color: #e5e5e5;
  background: #2f2f2f;
  border-radius: 100em;
}

/* Cor do texto grande do fundo */
nav a span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-46%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #eee8e8;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s;
}

nav a span:hover:before {
  content: attr(data-texto);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}

nav a:nth-child(6n + 1) span:before {
  background: #063940;
}

nav a:nth-child(6n + 2) span:before {
  background: #195e63;
}

nav a:nth-child(6n + 3) span:before {
  background: #3e838c;
}

nav a:nth-child(6n + 4) span:before {
  background: #8ebdb6;
}

nav a:nth-child(6n + 5) span:before {
  background: #b1fff5;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: transparent;
  text-align: right;
}

.circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.body1 {
  min-height: 70vh;
}

.skills {
  height: 50vh;
  width: 100%;
  margin: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #504e4d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 100px;
  transition: all 1.8s;
  cursor: pointer;
  margin: 3px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  color: #eaff00;
  right: 0;
}

.wrapper-img {
  filter: grayscale(1);
  object-fit: cover;
  transition: 1s;
  cursor: pointer;
}

.wrapper-img:hover {
  filter: none;
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.wrapper-img2 {
  filter: brightness(1.2);
  object-fit: cover;
  transition: 1s;
  cursor: pointer;
}

.wrapper-img2:hover {
  filter: none;
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

iframe {
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.content {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

h3, p {
  max-width: 100%;
}

.skills {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.button {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.wrapper-img {
  width: 3%;
  height: auto;
}

footer p a {
  margin-right: 10px;
}
